@model List<MVC.LabNetPractica3.Models.ProveedorViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col">@Html.Hidden("ID")</th>
                    <th scope="col">PROVEEDOR</th>
                    <th scope="col">CIUDAD</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Hidden("ID", @item.IdProveedor)</td>
                        <td>@item.NombreProveedor</td>
                        <td>@item.CiudadProveedor</td>
                        <td>@item.TelefonoProveedor</td>
                        <td>@Html.ActionLink("EDITAR", "Update", new { id = @item.IdProveedor })</td>
                        <td>@Html.ActionLink("ELIMINAR", "Delete", new { id = @item.IdProveedor }, new { @onclick = "return confirm('¿Está seguro que desea continuar?')" })</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div>
        @Html.ActionLink("AGREGAR NUEVO PROVEEDOR", "Insert")
    </div>
</body>
</html>
